.div,
.savebuttonIcon {
  position: absolute;
  top: 53px;
  left: 45px;
}
.savebuttonIcon {
  top: 45px;
  left: 501px;
  width: 91px;
  height: 54px;
  cursor: pointer;
}
.blind,
.schedule2Icon {
  position: absolute;
  left: 45px;
  width: 550px;
}
.blind {
  top: 1031px;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-white);
  height: 40px;
}
.schedule2Icon {
  top: 115px;
  height: 959px;
  object-fit: cover;
}
.addSchedule {
  position: relative;
  background-color: var(--color-white);
  width: 640px;
  height: 1100px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-nexon-lv1-gothic-low-otf);
}
