.div {
  position: absolute;
  top: 30px;
  left: 115px;
  font-size: var(--font-size-21xl);
  text-align: left;
  display: inline-block;
  width: 197px;
  height: 35px;
}
.blind,
.schedule4Icon {
  position: absolute;
  left: 45px;
  width: 550px;
}
.blind {
  top: 987px;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-white);
  height: 44px;
}
.schedule4Icon {
  top: 73px;
  height: 959px;
  object-fit: cover;
}
.menuButtonBack,
.menuButtonIcon {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.menuButtonBack {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
}
.menuButtonIcon {
  height: 91.89%;
  top: 5.41%;
  bottom: 2.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuButton {
  position: absolute;
  top: 32px;
  left: 570px;
  width: 35px;
  height: 37px;
  cursor: pointer;
}
.p {
  margin: 0;
}
.div1 {
  position: absolute;
  top: 1583px;
  left: 123px;
  font-size: var(--font-size-base);
  text-align: center;
}
.backArrow2Icon,
.nothingResultBox {
  position: absolute;
  top: 1137px;
  left: 40px;
  width: 561px;
  height: 438px;
}
.backArrow2Icon {
  height: 58.14%;
  width: 74.32%;
  top: 20.93%;
  right: 13.51%;
  bottom: 20.93%;
  left: 12.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.backButton2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.backButton,
.groupPageParticipant {
  background-color: var(--color-white);
}
.backButton {
  position: absolute;
  top: 32px;
  left: 27px;
  width: 37px;
  height: 38px;
  cursor: pointer;
}
.resultBox {
  position: absolute;
  top: 1138px;
  left: 41px;
  background-color: var(--color-ghostwhite-100);
  border: 1px solid rgba(19, 43, 129, 0.31);
  box-sizing: border-box;
  width: 559px;
  height: 436px;
}
.div2,
.div3,
.div4 {
  position: absolute;
  top: 1227px;
  left: 229px;
  font-size: var(--font-size-13xl);
  
}
.div3,
.div4 {
  top: 1333px;
}
.div4 {
  top: 1439px
}
.div10,
.div8,
.div9 {
  position: absolute;
  top: 1263px;
  left: 261px;
  color: var(--color-midnightblue-200);
  font-size: 20px;
}
.div10,
.div9 {
  top: 1475px;
}
.div10 {
  top: 1369px;
}
.ndTime1,
.rdTime1,
.stTime1 {
  position: absolute;
  top: 1213px;
  left: 114px;
  width: 66px;
  height: 62px;
  object-fit: cover;
}
.ndTime1,
.rdTime1 {
  top: 1319px;
}
.rdTime1 {
  top: 1425px;
}
.groupPageParticipant {
  position: relative;
  width: 100%;
  height: 1652px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-nexon-lv1-gothic-low-otf);
}


.schedule {
  /* position: relative; */
  background-color: var(--color-white);
  width: 100%;
  /* height: 114px; */
  height : 120px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-nexon-lv1-gothic-low-otf);
}



.schedule {
  /* position: relative; */
  background-color: var(--color-white);
  width: 100%;
  /* height: 114px; */
  height : 120px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-nexon-lv1-gothic-low-otf);
}


.Table {
  position : absolute;
  border-collapse: collapse;
  /* border: 1px solid #ffffff; */
  height : 912px;
  top : 76px;
  left : 43px;
  width: 529px;
  /* width: 23.5%; */
  background: transparent; /* 셀 배경을 투명하게 설정 */
  color: transparent; /* Make font color transparent */
}

.Table td {
  /* border: 1px solid #ffffff; */
  /* border: 1px; */
  padding: 0.1px;
  width: 5px;
  text-align: center;
  background: transparent; /* 셀 배경을 투명하게 설정 */
  color: transparent; /* Make font color transparent */
  /* border: 1px solid rgb(255, 0, 0); */
}

/* 왼쪽상단 구석 1,1 부터
  즉 2, 2부터 월 00시간대   행, 열 순서.
  행은 2 ~ 25
  열은 2 ~ 8     */

  /* 
	n은 0부터 시작하여 증가하고 +2연산이 있으므로
	2행부터 모든 행에 아래의 스타일을 적용합니다.
  */

.Table tr:nth-child(n+2) td:nth-child(2),
.Table tr:nth-child(n+2) td:nth-child(3),
.Table tr:nth-child(n+2) td:nth-child(4),
.Table tr:nth-child(n+2) td:nth-child(5),
.Table tr:nth-child(n+2) td:nth-child(6),
.Table tr:nth-child(n+2) td:nth-child(7),
.Table tr:nth-child(n+2) td:nth-child(8){
  border: 1px solid rgb(137, 137, 137);
  background-color: rgb(237, 241, 255);
}

.scheduleActive {
  background-color: #ffff99 !important; /* 배경색 변경 */
}