.div,
.main1Icon {
  position: absolute;
}
.div {
  top: 886px;
  left: 224px;
  display: inline-block;
  width: 198px;
  height: 48px;
  cursor: pointer;
}
.main1Icon {
  top: 167px;
  left: 202px;
  width: 237px;
  height: 655px;
  object-fit: cover;
}
.startPage {
  position: relative;
  background-color: var(--color-white);
  width: 640px;
  height: 1100px;
  overflow: hidden;
  text-align: left;
  font-size: 50px;
  color: var(--color-midnightblue-100);
  font-family: var(--font-nexon-lv1-gothic-low-otf);
}
