.bar3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-midnightblue-100);
  width: 312px;
  height: 42px;
}
.div,
.howto1Icon {
  position: absolute;
  top: 10px;
  left: 72px;
}
.howto1Icon {
  top: 67px;
  left: 11px;
  width: 298.5px;
  height: 322.5px;
  object-fit: cover;
}
.howTo {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  width: 312px;
  height: 418px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-nexon-lv1-gothic-low-otf);
}
