.div {
  position: absolute;
  top: 67px;
  left: 41px;
}
.bar11,
.yesButton2Icon {
  position: absolute;
  top: 109px;
  left: 112px;
  width: 59px;
  height: 36px;
}
.bar11 {
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 284px;
  height: 32px;
}
.logoutPopup {
  position: relative;
  background-color: var(--color-gray-300);
  width: 284px;
  height: 163px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-nexon-lv1-gothic-low-otf);
}
