.meetingTimeSelectEndDdChild,
.meetingTimeSelectEndDdInner,
.meetingTimeSelectEndDdItem {
  position: absolute;
  top: 35.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-midnightblue-300);
  box-sizing: border-box;
  width: 88px;
  height: 1px;
}
.meetingTimeSelectEndDdInner,
.meetingTimeSelectEndDdItem {
  top: 70.5px;
}
.meetingTimeSelectEndDdInner {
  top: 105.5px;
}
.div,
.div1,
.div2,
.div3 {
  position: absolute;
  top: 8px;
  left: 14px;
}
.div1,
.div2,
.div3 {
  top: 43px;
}
.div2,
.div3 {
  top: 78px;
}
.div3 {
  top: 112px;
  left: 16px;
}
.meetingTimeSelectEndDd {
  background-color: var(--color-white);
  border: 1px solid var(--color-midnightblue-300);
  box-sizing: border-box;
  width: 89px;
  height: 140px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-nexon-lv1-gothic-low-otf);
}
