@font-face {
  font-family: "NEXON Lv1 Gothic Low OTF";
  src: url("/public/NEXON Lv1 Gothic Low OTF.otf");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-nexon-lv1-gothic-low-otf: "NEXON Lv1 Gothic Low OTF";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-mini: 15px;
  --font-size-29xl: 48px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0);
  --color-gray-200: rgba(255, 255, 255, 0.7);
  --color-gray-300: rgba(255, 255, 255, 0.9);
  --color-midnightblue-100: #132b81;
  --color-midnightblue-200: rgba(19, 43, 129, 0.85);
  --color-midnightblue-300: rgba(19, 43, 129, 0.6);
  --color-black: #000;
  --color-mediumblue-100: #0038ff;
  --color-mediumblue-200: rgba(24, 72, 245, 0.6);
  --color-mediumblue-300: rgba(24, 72, 245, 0.04);
  --color-mediumblue-400: rgba(24, 72, 245, 0.2);
  --color-white: #fff;
  --color-ghostwhite-100: rgba(244, 247, 255, 0.85);
  --color-lavender: #cfdafe;
  --color-lightskyblue-100: rgba(171, 189, 252, 0.13);
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-aliceblue: #ecf0fe;
  --color-firebrick: #c52f2f;

  /* Border radiuses */
  --br-xl: 20px;
}
